---
import { Icon } from 'astro-icon'

import Layout from '../layouts/Layout.astro';
import WorkEntry from '../components/WorkEntry.astro';
import Link from '../components/Link.astro';

import { socials } from '../utils/link.ts'

---

<Layout>
	<nav class="flex flex-col items-center gap-4 bg-slate-200 py-4 pb-0">
    <div class="flex flex-col flex-1 items-center gap-4">
      <img class="m-0 h-[120px] w-[120px] rounded-lg" src="/yo.jpeg" alt="Esteban Primost" />
			<div class='flex flex-col items-start'>
      	<h2 class='my-0'>Esteban Primost</h2>
			</div>
    </div>
    <div class='flex gap-3'>
			{
				socials.filter(social => social.active).map(social => (
					<Link href={social.href} title={social.linkTitle}>
						<Icon name={social.icon} class='w-6 h-6' />
					</Link>
				))
			}
		</div>
  </nav>

  <hr class="my-8" />
  
	<h1>Hola!</h1>
	<p>Soy Esteban, Licenciado en Sistemas, actualmente trabajando como desarrollador remoto desde <Link href='https://g.co/kgs/NJVZGZ' title='Urdinarrain, Entre Ríos, Argentina'>Urdinarrain, Entre Ríos, Argentina</Link>.
  <p>Conocé los últimos trabajos que he realizado, los proyectos en los que participé y las herramientas que he usado.</p>
  <p>Gracias por pasar!</p>

	<h2>Trabajos y proyectos</h2>
	<WorkEntry
		title='GEUT'
		subtitle='2018 | Presente'
		link='https://geutstudio.com'
	>
		Organización, laboratorio y espacio de amigos, desde donde participo en diferentes proyectos y en diferentes roles. Algunos de los productos más emocionantes son <Link href='https://discover.sher.app' title='Sher'>Sher</Link> o <Link href='https://github.com/geut/permanent-seeder' title='Permanent Seeder'>Permanent Seeder</Link>.
	</WorkEntry>
	
	<WorkEntry
		title='Sher'
		subtitle='2019 | Presente'
		link='https://discover.sher.app'
		tags={[
			"Javascript",
			"NodeJS",
			"PostgreSQL",
			"Graphql",
			"React",
			"Fastify",
			"Apollo",
			"Hypercore",
  	]}
	>
		Plataforma desarrollada desde <Link href='https://geutstudio.com' title='GEUT'>GEUT</Link> para streaming de audio en vivo. En este producto hemos experimentado y explotado con mucha pasión el mundo descentralizado. Logramos construir un producto capaz de igualar los servicios de la competencia, reduciendo los costos de infraestructura y mantenimiento.
	</WorkEntry>

	<WorkEntry
		title='Wireline'
		subtitle='2018 | 2020'
		link='https://github.com/wirelineio'
		tags={[
			"Javascript",
			"NodeJS",
			"CRDT",
			"Yjs",
			"React"
  	]}
	>
		Trabajé desarrollando un editor de texto colaborativo sincronizado mediante CRDT, para <Link href="https://dxos.org/" title='DXOS'>DXOS</Link>, un kit de desarrollo colaborativo.
	</WorkEntry>
	
	<WorkEntry
		title='Ingenious'
		subtitle='2017 | 2018'
		link='https://ingenious.agency/'
		tags={[
			"Javascript",
			"NodeJS",
			".NET",
			"Neo4j",
			"React",
			"React Native",
			"WebRTC"
  	]}
	>
		Participé en varios proyectos como desarrollador:
		<br/>- Aplicación móvil para telemedicina.
		<br/>- Plataforma de publicidad en tiempo real en buses de linea.
		<br/>- Sistema online de evaluación, feedback y toma de decisiones, destinado a organizaciones que utilizan sistemas de premios o admisiones, entre otras.
	</WorkEntry>
	
	<WorkEntry
		title='Subsecretaría de Innovación y experiencia ciudadana'
		subtitle='2016 | 2017'
		tags={[
			"Javascript",
			"NodeJS",
			"PHP",
			"React",
			"Laravel",
  	]}
	>
		Trabajé como desarrollador en varios proyectos, uno de los mas importantes fué un chat-bot para asistencia al ciudadano para trámites.
	</WorkEntry>

	<WorkEntry
		title='Language Trainers'
		link='https://www.languagetrainers.com/'
		subtitle='2015 | 2016'
		tags={[
			"Javascript",
			"PHP",
			"Laravel",
			"MySQL"
  	]}
	>
		Actualización, mejora y mantenimiento de diversas plataformas para la venta online de cursos de lenguages. Migración de sitios y mantenimiento de bases de datos.
	</WorkEntry>
	
	<WorkEntry
		title='Unidad Ejecutora Provincial'
		subtitle='2012 | 2014'
		tags={[
			"Javascript",
			"PHP",
			"Laravel",
			"SQL Server"
  	]}
	>
		Diseño de plataformas para la gestión provincial de obras educativas. Desarrollo de nuevas funcionalidades. Mantenimiento de aplicaciones.
	</WorkEntry>
	
	<WorkEntry
		title='RPSolutions'
		subtitle='2011 | 2014'
		tags={[
			"Javascript",
			"PHP",
			"Laravel",
			"Symfony",
			"CodeIgniter"
  	]}
	>
		Coordinación y gestión de proyectos. Desarrollo de aplicaciones móviles en plataforma Android. Supervisión, mantenimiento y soporte.
	</WorkEntry>
	
	<WorkEntry
		title='Universidad Católica de La Plata'
		link='https://www.ucalp.edu.ar/'
		subtitle='2010 | 2011'
		tags={[
			"Javascript",
			"PHP",
			"SQL Server"
  	]}
	>
		Desarrollo y mantenimiento de aplicaciones para el departamento de Sistemas de la organización.
	</WorkEntry>
	
	<WorkEntry
		title='VMN+'
		subtitle='2009 | 2010'
		tags={[
			"OpenLaszlo",
			"Adobe Flex",
			"PHP"
  	]}
	>
		Trabajé en varios proyectos, uno de ellos es una plataforma para la visualización de tecnologías utilizadas en la construcción.
	</WorkEntry>

	<WorkEntry
		title='AM Soluciones'
		subtitle='2009'
		tags={[
			"PHP",
			"Drupal"
  	]}
	>
		Participé como desarrollador para diversos proyectos privados de la consultora.
	</WorkEntry>
	
	<WorkEntry
		title='Universidad Nacional de La Plata - Facultad de Informática'
		link='https://www.info.unlp.edu.ar/'
		subtitle='2006 | 2007'
	>
		Experiencia académica como ayudante y colaborador ad honorem en la cátedra de Programación de Computadoras, de la Facultad de Informática. Soporte a los ingresantes en las actividades de la materia.
	</WorkEntry>
</Layout>
