---
import { t } from "i18next";

import Link from "../components/Link.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import { linkTargets } from "../utils/link";
---

<hr class="my-8 mb-4" />

<div class="flex gap-4 justify-end">
  <LanguageSwitcher />
  <ThemeSwitcher />
</div>

<h1>{t("home.welcome")}</h1>

<p class="hyphens-auto">
  {t("home.about_me_1")}
  <Link href="https://g.co/kgs/NJVZGZ" title="Urdinarrain, Argentina">
    Urdinarrain,
  </Link>
  <Link href="https://g.co/kgs/NJVZGZ" title="Urdinarrain, Argentina">
    Argentina.
  </Link>
</p>
<p class="hyphens-auto">
  {t("home.about_me_2")}
  <Link href={linkTargets["Javascript"]} title="Javascript">Javascript</Link>
  {t("home.about_me_3")}
  <Link href={linkTargets["Node.js"]} title="Node.js">Node.js</Link>
  {t("common.and")}
  <Link href={linkTargets.React} title="React">React</Link>
  {t("home.about_me_4")}
</p>
<p class="hyphens-auto">
  {t("home.about_me_5")}
</p>
