---
import { t } from "i18next";

import { slugify } from "../utils/link";
import Link from "./Link.astro";
---

<h2 id={slugify(t("home.education"))}>
  {t("home.education")}
</h2>

<Link
  element={"h3"}
  title="Licenciado en Sistemas - Facultad de Informática - UNLP"
  href="https://www.info.unlp.edu.ar/licenciatura-en-sistemas/"
>
  Licenciado en Sistemas
</Link>
<p>
  {t("education.analista")}
  <Link
    title="Universidad Nacional de La Plata - Facultad de Informática"
    href="https://www.info.unlp.edu.ar/"
  >
    {"Universidad Nacional de La Plata - Facultad de Informática"}
  </Link>.
</p>

<Link
  element={"h3"}
  title="Analista Programador Universitario - Facultad de Informática - UNLP"
  href="https://www.info.unlp.edu.ar/analista-programador-universitario/"
>
  Analista Programador Universitario
</Link>
<p>
  {t("education.analista")}
  <Link
    title="Universidad Nacional de La Plata - Facultad de Informática"
    href="https://www.info.unlp.edu.ar/"
  >
    {"Universidad Nacional de La Plata - Facultad de Informática"}
  </Link>.
</p>

<h2 id={slugify(t("home.languages"))}>{t("home.languages")}</h2>
<h3>
  {t("common.english")}
</h3>
<p>
  {t("education.english")}
</p>
