---
import { Icon } from "astro-icon";

import Link from "../components/Link.astro";

import { socials } from "../utils/link";
import { t } from "i18next";
---

<hr class="my-8" />

<div
  class="pb-4 flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-0"
>
  <h3 class="my-0">Esteban Primost</h3>
  <div class="flex gap-3">
    {
      socials
        .filter((social) => social.active)
        .map(({ svgIcon: SvgIcon, ...social }) => (
          <Link
            href={`${social.href}${
              social.name === "Mail"
                ? `?subject=${t("common.mail_subject")}&body=${t(
                    "common.mail_body"
                  )}`
                : ""
            }`}
            title={social.linkTitle}
          >
            {social.icon && <Icon name={social.icon} class="w-6 h-6" />}
            {SvgIcon && <SvgIcon />}
          </Link>
        ))
    }
  </div>
</div>
