---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import yo from "../assets/yo.jpg";
import Link from "../components/Link.astro";
import { socials } from "../utils/link";
---

<nav class="flex flex-col items-center gap-4 bg-slate-200 py-4 pb-0">
  <div class="flex flex-col flex-1 items-center gap-4">
    <Image 
      src={yo} 
      format="webp"
      width={200} 
      height={200}
      fit='cover'
      class='m-0 rounded-lg'
      alt="Esteban Primost" 
    />
    <div class='flex flex-col items-start'>
      <h2 class='my-0'>Esteban Primost</h2>
    </div>
  </div>
  <div class='flex gap-3'>
    {
      socials.filter(social => social.active).map(social => (
        <Link href={social.href} title={social.linkTitle}>
          <Icon name={social.icon} class='w-6 h-6' />
        </Link>
      ))
    }
  </div>
</nav>