---
import i18next from "i18next";
import { Icon } from "astro-icon";

import Link from "../components/Link.astro";

const language = i18next.language;
---

<div class="flex items-center justify-end text-sm relative">
  <label id="lang-menu-button" class="cursor-pointer">
    <Icon name="tabler:language" class="w-6 h-6 text-skin-accent" />
  </label>

  <div
    id="lang-menu-menu"
    class="absolute invisible mt-1 p-2 w-28 right-1 top-full min-w-max drop-shadow-lg rounded transition delay-75 ease-in-out z-10 border border-zinc-400 bg-[--theme-bg]"
  >
    <div class="flex flex-col gap-2">
      <Link
        href={`/${language === "es" ? "en" : "es"}/`}
        target="_self"
        className="flex items-center gap-2"
      >
        <Icon
          name="tabler:check"
          class={`w-6 h-6 p-1 text-skin-accent ${
            language === "es" ? "opacity-1" : "opacity-0"
          }`}
        />
        <div class="">Español</div>
      </Link>
      <Link
        href={`/${language === "es" ? "en" : "es"}/`}
        target="_self"
        className="flex items-center gap-2"
      >
        <Icon
          name="tabler:check"
          class={`w-6 h-6 p-1 text-skin-accent ${
            language === "en" ? "opacity-1" : "opacity-0"
          }`}
        />
        <div class="">English</div>
      </Link>
    </div>
  </div>
</div>

<script>
  const langMenuButton = document.querySelector("#lang-menu-button");
  const langMenu = document.querySelector("#lang-menu-menu");

  langMenuButton.addEventListener("click", (event) => {
    langMenu.classList.toggle(
      "invisible",
      !langMenu.classList.contains("invisible")
    );
    event.stopPropagation();
  });

  document.addEventListener("click", () => {
    langMenu.classList.add("invisible");
  });
</script>

<style>
  #lang-menu-menu {
    @apply bg-skin-fill;
  }
</style>
