---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Works from "../components/Works.astro";
import Footer from "../components/Footer.astro";
import ThisSite from "../components/ThisSite.astro";
import Education from "./Education.astro";
---

<Layout>
  <Header />
  <div id="pdf-downloadable">
    <About />
    <Works />
    <Education />
  </div>
  <ThisSite />
  <Footer />
</Layout>
