---
import { linkTargets } from '../utils/link'

export interface Props {
  name: string
}

const { name } = Astro.props;

---

<a
  href={linkTargets[name]}
  title={name}
  rel="nofollow noopener" 
  target='blank'
  class='inline-block text-sm font-normal opacity-80 group underline-offset-4 underline decoration-dashed hover:text-skin-accent focus-visible:p-1'
>
  {name}
</a>
