---
import "../styles/global.css";
import "@fontsource-variable/mulish";
import "@fontsource/libre-baskerville";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base target="_blank" />
    <meta name="description" content="Esteban Primost personal site" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Esteban Primost</title>
  </head>
  <body class="dark:bg-slate-900 dark:text-slate-50">
    <main class="container mx-auto px-4 py-8">
      <article
        class="mx-auto prose-lg prose prose-headings:font-serif dark:prose-invert"
      >
        <slot />
      </article>
    </main>
  </body>
</html>
